.profile {
    padding-bottom: 7rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile__background {
    height: 55rem;
    background-color: #ff8c3f;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
    width: 100vw;
}

.profile__photo {
    position: absolute;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.profile__photo::before {
    content: "";
    width: 100vw;
    height: 55rem;

    background-color: #ff8c3f;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
}

.profile__name {
    margin-bottom: 7rem;
    margin-top: 21rem;
    font-size: 4rem;
    line-height: 100%;
}
