.closeButton {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    background-color: #FF8C3F;
    font-size: 3.5rem;
    color: #fff;
    align-self: flex-end;
    margin: 3.5rem 5.5rem 4rem 0;
}