.button {
    width: 320px;
    height: 84px;
    background-color: #fff;
    border: 3px solid #FF8C3F;
    border-radius: 10px;
    font-size: 3.2em;
    color: #FF8C3F;
    transition: .25s;
    cursor: pointer;
    margin-bottom: 14px;
}

.button:hover {
    background-color: #FF8C3F;
    color: #fff;
}

@media(max-width: 500px) {
    .button {
        width: 248px;
        
    }
}