.footerContainer {
    width: 99vw;
    height: 23rem;
    background-color: #FF8C3F;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footerContainer h1 {
    font-size: 6.4rem;
}

.footerContainer p {
    font-size: 1.8rem;
    font-weight: bold;
}

.footerContainer-icons {
    width: 22rem;
    display: flex;
    justify-content: space-around;
}

.footerContainer-icons img {
    margin-top: 2rem;
    width: 45px;
    border-radius: 5px;
    transition: 0.25s all;
}

.footerContainer-icons img:hover {
    cursor: pointer;
    opacity: 0.6;
}
