.inputLogin {
    border: none;
    border-bottom: 3px solid #FF8C3F;
    outline: none;
    margin-bottom: 5rem;
    width: 100%;
    padding: 1.4rem 0 .4rem 0;
    font-size: 1.8rem;
}

.inputLogin::placeholder {
    font-weight: bold;
    color: #AEAEAE;
}

@media(max-width: 500px) {
    .inputLogin {
        font-size: 1.4rem;
    }
}